@font-face {
    font-family: 'Starjedi';
    src: url('Fonts/Starjedi.woff');
}

* {
    color: black;
    font-family: Helvetica;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url("bg.jpg");
    background-attachment: fixed;
    background-size: cover;
}

div#container {
    width: 1000px;
    margin: 0px auto;
    border: 3px solid black;
    background: url("bg_transparent.png");
}

header {
    min-height: 225px;
    width: 100%;
    background: url("header.jpg");
}

header div#titel {
    width: 100%;
    padding-left: 10px;
}

header div#titel a {
    font-size: 32px;
    font-family: Starjedi;
    text-shadow: 2px 2px gold;
    color: steelblue;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

header nav {

}

menu {
    display: block;
    width: 224px;
    float: left;
    min-height: 300px;
    margin: 0px;
    padding: 0px;
}

div#content {
    width: 775px;
    height: 100%;
    border-left: 1px solid black;
    min-height: 300px;
    float: right;
    color: black;
}

div#content table {
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto;
}

div#content table th,
div#content table td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px 0px;
}

div#content table td#bild img {
    width: 100px;
    padding: 0px 10px;
}

div#content table td#menge {
    padding: 0px 10px;
}

div#content table td#menge input {
    width: 35px;
    text-align: center;
}

footer {
    width: 100%;
    border-top: 1px solid black;
    min-height: 100px;
    background: darkslateblue;
    clear: both;
}

footer div#addresse {
    color: white;
    width: 150px;
    padding: 15px;
}

footer p {
    margin: 0px;
}